/*reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/*fudo e estrutura da pagina */
body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url() no-repeat center center;
    background-size: cover;
    color: white;
}
/*barra superior com logo, telefone e icoes sociais */
.top-bar{
    border-bottom: 2px solid #FFD700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: black;
    border: bottom 5px; ;
}


.contato-info{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}
.social-icons,img{
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
/* Estrutura da página */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
}

/* Texto alinhado à esquerda */
.container-image{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image:url(img/frente.png);
    height: 90vh;
    filter: brightness(10%);
    padding-top: 5%;
}
.text-content {
    max-width: 550px;
    position: absolute;
    top: 35%;
}

h2 {
    font-size: 24px;
    color: #e6b400;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}

/* Botões */
.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    margin-top: 10%
    ;
    }

.btn-yellow {
    background-color: #f7d56b;
    color: black;
    margin-right: 15px;
    padding: 15px 20px;
}

.btn-yellow:hover{
    background-color: #FFD700;
    color: black;
    border: 2px solid #FFD700;
}

.btn-outline {
    border: 2px solid white;
    color: white;
    padding: 15px 20px;
}

.btn-outline:hover {
    background-color: white;
    color: black;
}

/* Imagem ao lado direito */
.image-content img {
    max-width: 150%;
}

/*serviços */

.servicos{
    padding: 0px 0px 0px 10%;
}

.descricao{
    max-width: 800px;
    margin: 0 auto 30px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;
    width: 390x;
    height: auto;
}

.card{
    background-color: #1c1c1c;
    padding: 30px 60px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 60px;
    margin-bottom: 20px;
}

.card p{
    font-size: 20px;
    color: white;
}

h3{
    font-size: 25px;
    color: #FFD700;
}